.content {
  width: 100vw;
  padding: 50px 100px;
  transition: all ease 0.3s;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.row > .column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 1210px) {
  .content > .row:nth-child(2) {
    flex-wrap: wrap;
  }

  .row:nth-child(2) > .column {
    width: 50%;
  }
}

@media (max-width: 1120px) {
  .content > .row:nth-child(3) {
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  .content > .row:nth-child(1) {
    flex-direction: column;
  }
  
  .content > .row {
    margin-bottom: 0;
  }

  .row:nth-child(3) > .column {
    width: 100% !important;
  }
}

@media (max-width: 800px) {
  .content {
    padding: 50px;
  }
}

@media (max-width: 750px) {
  .content > .row:nth-child(2) {
    flex-direction: column;
  }
  .row:nth-child(2) > .column {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .content {
    padding: 20px;
  }
}