.InputField {
  display: flex;
  flex-direction: column;
}

.InputField > .label {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #252525;
  margin-bottom: 8px;
}

.InputField > .input {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  transition: all ease 0.3s;
}

.InputField > .input:hover,
.InputField > .input:focus {
  border-color: #83468C;
}