.menu {
  position: absolute;
  top: 60px;
  right: 10px;

  background-color: #FFF;

  padding: 30px 0;
  border-radius: 12px;
  box-shadow: 0px 6px 10px rgb(127 127 127 / 80%);
  transition: all ease 0.3s;
  z-index: 1;
}

.menu.active {
  transform: translateX(0px);
}

.menu {
  transform: translateX(300px);
}

.menu > a > p {
  font-family: 'Inter';
  font-size: 1rem;
  padding: 10px 30px;
  border-left: 4px solid #83468C;
  transition: all ease 0.3s;
  cursor: pointer;
}

.menu > a > p:hover {
  background: #83468C;
  color: #FFF;
}